body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

.cadastro-form label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.cadastro-form input[type="text"],
.cadastro-form input[type="password"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.cadastro-form input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.cadastro-form input[type="submit"]:hover {
    background-color: #45a049;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: white;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    display: flex;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}


.social-icons li {
    display: inline-block;
    margin: 0 0.625rem;
}


/* Adicionando estilo à imagem do rodapé (se necessário) */
.logo img {
    width: 200px; /* Tamanho desejado */
    height: auto;
}
