<!DOCTYPE html>
<html>

  <head>
    <title>Página Principal</title>
    <link rel="stylesheet" href="forms.css"
 </head>

 <body>
     <div id="conteudo">
         <img src="/ex1/img/LOGO3.jpg" class="avatar">
         <h1>Logar aqui</h1>
          <form>
             <p>Usuário</p>
             <input type="text" name="usuario" placeholder="Entre com o Usuário">
             <p>Senha</p>
             <input type="password" name="senha" placeholder="Entre com o senha">
             <input type="submit" name="submit" value="Login">
             <a href="#">Esqueci a senha</a>
          </form>
     </div>
     <script src="login.js"></script>
  </body>

</html>